<div class="container">
  <div class="row">

    <div class="col-sm-8">

        <br />
        <div class="row">
          <div class="col-xs-12 col-12 col-md-4 form-group">
            <input type="text"
                   class="form-control"
                   #dp="bsDatepicker"
                   bsDatepicker
                   [bsValue]="bsValue"
                   [(ngModel)]="pickdate"
                   (change)="resavation_checkbydate(pickdate)">
          </div>
          <div class="col-xs-12 col-12 col-md-3 form-group">
            <button class="btn btn-primary" (click)="resavation_checkbydate(pickdate)" [attr.aria-expanded]="dp.isOpen">Search</button>

          </div>
        </div>



        <div *ngFor="let lab of messageList ">

          <div class=" box">
            <ul class="list-group">

                <li class="list-group-item">

                  Time Slot: {{lab.time}}<br />
                  Reason: {{lab.reason}}

                </li>





            </ul>

          </div>

          <br />


      </div>

    </div>
    <div class="col-sm-4">
      <br />
      <br />
      <br />
      <div class="box1">
        <div class="col-sm-6">


          <form [formGroup]="ReservationForm">
            <br />
            <div class="row">
              <div class="col-sm-6">
                <p>Revesion Date</p>
              </div>
              <div class="col-sm-6">
                <input formControlName="date" type="date">
              </div>

            </div>
            <div class="row">
              <div class="col-sm-6">
                <p>Time Slot</p>
              </div>
              <div class="col-sm-6">
                <select name="time" formControlName="time">
                  <option value="8AM to 9AM">8AM to 9AM</option>
                  <option value="9AM to 10AM">9AM to 10AM</option>
                  <option value="10AM to 11AM">10AM to 11AM</option>
                  <option value="11AM to 12PM">11AM to 12PM</option>
                  <option value="12PM to 1PM">12PM to 1PM</option>
                  <option value="1PM to 2PM">1PM to 2PM</option>
                  <option value="2PM to 3PM">2PM to 3PM</option>
                  <option value="3PM to 4PM">3PM to 4PM</option>
                  <option value="4PM to 5PM">4PM to 5PM</option>
                </select>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-6">
                <p> Reason</p>
              </div>
              <div class="col-sm-6">
                <input type="text" formControlName="reason"><br>
              </div>


            </div>
            <br />
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-primary" (click)="check(id)">Check</button>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button type="button" class="btn  btn-primary" (click)="reservation(id)">Reservation</button>
              </div>



            </div>

          </form>
        </div>
      </div>
    </div>

  </div>

</div>






