button {
  
  margin-left:60%;
  width: 100px;
  bottom: 500px;
}

.lab_title {
  margin-left: 50%;
  
}

.box {
  width: 800px;
  bottom: 400px;
  text-align: justify;
  background-color: #f1f1f1;
  border: 1px solid blue;
  color: royalblue;
  font-family: verdana
}

.text {

  margin-left: 25%;

}
ul {
  list-style-type: none;
}

.box1 {
  width: 200px;
  bottom: 3000px;
  text-align: justify;
  background-color: #f1f1f1;
  border: 1px solid blue;
  color: royalblue;
  font-family: verdana
}


